@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: "Inter";
    --hover: #65a4f1;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url("/img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.principal .container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--hover);
    color: var(--cor-de-fundo);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}


.container__aviso {
    font-size: .75rem;
    color: var(--cinza-secundario);
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario .container__imagem {
    width: 80%;
}

.container__descricao {
    padding: 2em;
}

.container__descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.container__descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    margin: 5em 0;
}

.dispositivos__lista__item {
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin-bottom: 5em;
}


.rodape__lista {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.rodape__lista__link a {
    padding: 0 2em;
    font-size: .75rem;
    font-weight: 700;
    color: var(--branco-principal);

}

.rodape__lista__link a:hover {
    color: var(--hover);
}

.rodape__lista__link a:active {
    color: var(--cinza-secundario);
}

.rodape__texto {
    margin: 0 0 1em 10em;
    font-size: .75rem;
}